/* IDs */
#idSDELogoContainer{
    width: 	auto;
    height: 	25%;
    max-height: 25%;
}

#idLogo{
    height: 25%;
}

#idCenterRowMain{
    width: 83%;
    max-width: 83%;
    height: 68vh;
    
    overflow-y: scroll;
    overflow-x: visible;
}

#idCenterRowRight{
    width: 0px;
}

/* Classes */
