
/* IDs */
#idMainLogoContainer{
    text-align: center;
    background-color: #00000;
}

#idSDELogoContainer{
    text-align: center;
    background-color: #194007;
}

#idLogo{
    
}

/* Classes */

.cardPictureContainer{
    
}

.cardPicture{
    
}