/* Elements */
a {
    color: #00ff00;
}

h1 {
    color: #00ff00;    
}

h2 {
    color: #00ff00;
}

h3 {
    color: #00ff00;
}

h4 {
    background-color: #00ff00;
}

h5{
    color: #00ff00;
}

h6{
    color: #00ff00;
}

navlink a{
    color: #00ff00;
}

/* Classes */
.navBar a{
    color: #00ff00;
}

.navlinkA a{
    color: #00ff00;
}

.navlinkB a{
    color: #00ff00;
}

.navlinkC a{
    color: #00ff00;
}

.navlinkD a{
    color: #00ff00;
}
/* IDs */
















