/* Elements */

/* Classes */
.classTableGlobalListRowSpanRelease{
    color: #aaaaaa;
}

.classTableGlobalListRowRelease{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanGenre{
    color: #aaaaaa;
}

.classTableGlobalListRowGenre{
    color: #aaaaaa;
}

.classTableGlobalListRowSpanSetting{
    color: #aaaaaa;
}

.classTableGlobalListRowSetting{
    color: #aaaaaa;
}

.classTableManagementUsersColComedyM{
    color: #aaaaaa;
}

.classTableManagementUsersColDramaM{
    color: #aaaaaa;
}

.classTableManagementUsersColActionM{
    color: #aaaaaa;
}

.classTableManagementUsersColHorrorM{
    color: #aaaaaa;
}

.classTableManagementUsersColThrillerM{
    color: #aaaaaa;
}

.classTableManagementUsersColMysteryM{
    color: #aaaaaa;
}

.classTableManagementUsersColDocumentaryM{
    color: #aaaaaa;
}

.classTableManagementUsersColScienceFictionM{
    color: #aaaaaa;
}

.classTableManagementUsersColFantasyM{
    color: #aaaaaa;
}

.classTableManagementUsersColWesternM{
    color: #aaaaaa;
}

.classTableManagementUsersColMartialArtsM{
    color: #aaaaaa;
}

.classTableManagementUsersColModernM{
    color: #aaaaaa;
}

.classTableManagementUsersColHistoricM{
    color: #aaaaaa;
}

.classTableManagementUsersColPrehistoricM{
    color: #aaaaaa;
}

.classTableManagementUsersColComicsM{
    color: #aaaaaa;
}

.classTableManagementUsersColPeriodM{
    color: #aaaaaa;
}

/* IDs */
#idTableCompareRowSecond{
    color: #aaaaaa;
}

#idTableCompareRowSecondLeft{
    color: #aaaaaa;
}

#idTableCompareRowReleasesLeft{
    color: #aaaaaa;
}

#idTableCompareRowSettingsLeft{
    color: #aaaaaa;
}

#idTableCompareRowGenresLeft{
    color: #aaaaaa;
}

#idTableCompareRowSecondRight{
    color: #aaaaaa;
}

#idTableCompareRowReleasesRight{
    color: #aaaaaa;
}

#idTableCompareRowSettingsRight{
    color: #aaaaaa;
}

#idTableCompareRowGenresRight{
    color: #aaaaaa;
}

#idTableManagementUsersColHeaderComedyM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderDramaM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderaActionM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderHorrorM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderThrillerM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderMysteryM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderDocumentaryM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderScienceFictionM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderFantasyM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderWesternM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderMartialArtsM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderModernM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderHistoricM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderPrehistoricM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderComicsM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderPeriodM{
    color: #aaaaaa;
}
    
#idTableManagementUsersColHeaderLoggedOn{
    color: #aaaaaa;    
}


