.classTableGlobalListRowSpanRelease{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableGlobalListRowRelease{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    /*width: 33%;*/
    /*width: 22vw;*/
    width: auto;
    /*max-width: 33%;*/
    /*max-width: 22vw;*/
}

.classTableGlobalListRowSpanGenre{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableGlobalListRowGenre{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    /*width: 33%;*/
    /*width: 22vw;*/
    width: auto;
    /*max-width: 33%;*/
    /*max-width: 22vw;*/
}

.classTableManagementUsersColDeckBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColFixedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColConstructedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColStrategy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColWar{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColEconomy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColTableauBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColMystery{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColSemiCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColPPRPG{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;    
}

.classTableManagementUsersColBluffing{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColPuzzle{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColDexterity{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColParty{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

.classTableManagementUsersColOnline{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

/* IDs */
#idTableCompareRowReleases{
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
}

#idTableCompareRowReleasesLeft{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
}

#idTableCompareRowReleasesRight{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
}

#idTableCompareRowPlatform{
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
}

#idTableCompareRowPlatformLeft{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
}

#idTableCompareRowPlatformRight{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
}
    
#idTableManagementUsersColHeaderDeckBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderFixedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderaConstructedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderStrategy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderWar{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderEconomy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderTableauBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderMystery{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderSemiCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderPPRPG{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderBluffing{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderPuzzle{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderDexterity{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderParty{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}
    
#idTableManagementUsersColHeaderOnline{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    /*width: auto;*/
    max-width: 20%;
    max-width: 14vw;
}

#idRadioAddGenre2{
    color: #00000;    
}

#idContentAddSuggestion{
    height: auto;
    width: 100%;
    max-width: 100%;
}

#idAddTarget1{
    width: auto;
}

#idAddTargetUrl1{
    width: auto;
}

#idRadioAddGenre1{
    color: #00000;    
}






