.classTableGlobalListRowSpanRelease{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableGlobalListRowRelease{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableGlobalListRowSpanGenre{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    width: 20%;
    width: 14vh;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableGlobalListRowGenre{
    height: 100%;
    height: 20vh;
    max-height: 100%;
    max-height: 20vh;
    //width: 33%;
    //width: 22vw;
    width: auto;
    //max-width: 33%;
    //max-width: 22vw;
    
    color: #aaaaaa;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    //display: table-cell;
}

.classTableManagementUsersColDeckBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColFixedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColConstructedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColStrategy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColWar{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColEconomy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColTableauBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColMystery{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColSemiCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColPPRPG{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColBluffing{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColPuzzle{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColDexterity{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColParty{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

.classTableManagementUsersColOnline{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

/* IDs */
#idTableCompareRowReleases{
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #e9f413;
    margin: auto;
    padding: 0px;
    display: table-row;
}

#idTableCompareRowReleasesLeft{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowReleasesRight{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowPlatform{
    width: 100%;
    width: 70vw;
    max-width: 100%;
    max-width: 70vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #e9f413;
    margin: auto;
    padding: 0px;
    display: table-row;
}

#idTableCompareRowPlatformLeft{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}

#idTableCompareRowPlatformRight{
    width: 50%;
    width: 35vw;
    max-width: 50%;
    max-width: 35vw;
    
    text-align: center;
    color: #aaaaaa;
    border: 0px solid #f702f7;
    margin: auto;
    padding: 0px;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderDeckBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderFixedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderaConstructedDeck{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderStrategy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderWar{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderEconomy{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderTableauBuilding{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderMystery{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderSemiCoop{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderPPRPG{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderBluffing{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderPuzzle{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderDexterity{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderParty{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}
    
#idTableManagementUsersColHeaderOnline{
    height: 100%;
    height: 5vh;
    max-height: 100%;
    max-height: 5vh;
    width: 20%;
    width: 14vw;
    //width: auto;
    max-width: 20%;
    max-width: 14vw;
    
    color: #aaaaaa;
    
    border: 0px solid #f702f7;
    
    margin: auto;
    text-align: center;
    vertical-align: top;
    display: table-cell;
}

#idRadioAddGenre2{
    color: #00000;    
}

#idContentAddSuggestion{
    height: auto;
    width: 100%;
    max-width: 100%;
    
    color: #aaaaaa;
    
    border: 0px solid #FE0101;
    
    text-align: left;
    vertical-align: top;
    
}

#idAddTarget1{
    width: auto;
}

#idAddTargetUrl1{
    width: auto;
}

#idRadioAddGenre1{
    color: #00000;    
}






