/* Elements */
body{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
    line-height: 25px;
}

a{
    font-family: Verdana, Geneva, sans-serif;
    color: #0000ff;
}

a:hover {
    font-family: Verdana, Geneva, sans-serif;
    color: #00aa00;
}

h1{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 175%;
    color: #0000ff;
}

h2{
    vertical-align: top;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 150%;
    color: #0000ff;
    text-align: center;
    text-decoration: underline;
    padding: 0px;
}

h3{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 130%;
    color: #0000ff;
    text-align: center;
}

h4{
    width: 100%;
    max-width: 100%;

    font-family: Verdana, Geneva, sans-serif;
    font-size: 120%;
    color: #bbbbbb;
    text-align: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    background-color: #0000ff;

}

h5{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 80%;
    color: #0000ff;
    text-align: left;
    padding-left: 15px;
}

h6{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 70%;
    color: #0000ff;
    text-align: left;
    padding-left: 20px;
}

navlink{
    width: auto;

    font-weight: bold;
    border: transparent;
    padding: 2px;
    text-align: left;

}

navlink a{
    padding: 0px;
    text-decoration: underline;
    display: block;
    color: #0000ff;
    border: transparent;
    margin: 0px;
}

navlink a:hover{
    color: #00aa00;
}

/* Classes */
.classHorizontal{
    display: inline-block;
}

.classVertical{
    display: block;
}

.classTopBox{    
    width: fit-content;
    height: fit-content;
    vertical-align: top;
    text-align: center;
}

.classBox{
    width: fit-content;
    height: fit-content;
    vertical-align: top;
    text-align: center;
}

.classBoxInput{
    width: 100px;
    vertical-align: top;
    text-align: center;
}

.classTarget{
    width:  100%;
    vertical-align: top;
    text-align: center;
}

.classTargetInput{
    vertical-align: top;
    text-align: center;
    
    width: 100px;
}

.classBoxLabelSection{
    width:  100%;
    vertical-align: top;
    text-align: center;
}

.classBoxLabelRow{
    width: 100%;
    height: 3%;
    vertical-align: top;
    text-align: center;
}

.classBoxLabelHeader{
    width:  100%;
}

.classBoxSubRow{
    width: auto;
    height: 97%;
    vertical-align: top;
    text-align: center;
}

.classTargetLabelRow{
    height: 3%;
    width:  100%;
}

.classTargetLabel{
    width:  100%;
}

.classButtons{
    width: 35px;
    height: 35px;
}

/* IDs */
#idMainStructure{
    width:  auto;
    height: 100% !important;
}

